<%- include('partials/header.ejs')  %>
    <!-- Choose Cvs Section -->

    <form action="/blinded-cvs" method="POST">

        <section id="main" class="choose-cvs">
            <div class="container">

            
                <!-- Headers -->
                <h1>Bias In Recruitment </h1>
                <hr style="border: 0; background-color: #E6695A; width: 50%; height: 4px; margin: auto; opacity: 80%;">
                <h2> Choose the best 3 fitted applicants! <br> You have only 60 sec!!</h2>

                <!-- Cvs Cards -->

                <div class="cards">

                    
                    <div class="row">
                        <%data.forEach(applicant => { %>
                        
                            <div class="col-lg-6">
                                <div class="card blinded">
                                    
                                    <div class="row">
                                        
                                        <div class="card-content-secound">
                                            <p>
                                                Experience: <%= applicant.experience %> <br>
                                                Degree: <%= applicant.degree %>

                                            </p>
                                        </div>
                                        <div class="card-content-third">
                                            <p>
                                                <span style="color: #000000; font-size: 27px;">Skills:</span>  <%= applicant.skills %>
                                            </p>
                                        </div>
                                        
                                    </div>
                                
                                
                                </div>   
                                <input type="checkbox" class="btn-check" name="<%= applicant.image %>" id="btn-check-<%= applicant.id %>" autocomplete="off" >
                                    <label class="btn btn-primary" for="btn-check-<%= applicant.id %>">choose</label>
                            </div>
                        
                        <% });%>

                    </div>

                </div>
    

                <div class="buttons-div">
                    <p class="chosen-more"> You choosed more than 3 applicants!</p>
                    <button type="submit" class="button first-button"> To the next step </button>
                </div>
            
            
            
            </div>
        </section>

    </form>

<%- include('partials/footer.ejs')  %>